<% include partials/header %>
    <section>
        <form action="/users/login" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </section>
</body>
</html>