<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <a href="/users">Home</a>
        <a href="/products/">My products</a>
       <%if(user){%>
        <div class="flex space-between">
           <div>
               <h6><%=user.name%></h6>
           </div>
           <div>
           <a href="/products/new" >Add product</a>
          
           <a href="/users/logout">Logout</a>
       </div>
       </div>
       <%}else{%>
        <div>
           
            <a href="/users/login">
                <button>Login</button>
              </a>
         <a href="/users/register">
            <button>Register</button>
          </a>
       </div>
      <%}%>
    </header>